:host {
  display: block;
  height: 100%;
  width: 100%;
  .container {
    height:100%;
    width: 100%;
    max-height: none;
    padding: 0 !important;
    .card-header{
      width: 100%;
      height: 10%;
      border-bottom:1px solid rgb(159 157 157 / 27%);
      background-color: rgba(190, 201, 202, 0.27)
    ;
      .header{
      height:100%;
      width: 100%;
      display: flex;
        justify-content: space-around;
      .header-items{
        height:100%;
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }}

    }
    .content{
      height: 100%;
      width: 100%;
      .content-grid{
        height: 100%;
        width: 100%;
        .vertical-chart{
          width: 100%;
          border-bottom:1px solid rgb(159 157 157 / 27%)
        }
        .pie-chart{
          height: 87%;
          width: 87%;
          display: flex;
          justify-content: center;
          .total-duration{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
          }

        }
        .horizontal-chart{
          height: 87%;
          width: 87%;
          display: flex;
          justify-content: center;
        }
      }

    }
  }
  ::ng-deep .tick text {
    fill: rgb(99, 99, 101);

  }
  }

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .content,
  .content-grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
}




