<!-- <div class="add-card-container">
  <form #cardForm="ngForm" class="card-form">
    <div class="card-form-group">
      <div class="label">
        <label for="Id">{{ 'TASKS_VIEW.CARD_DIALOG.ID' | translate }}</label>
      </div>
      <div class="field">
        <input class="no-outline" type="text" id="id-label" required [(ngModel)]="cardData?.Id" name="Id" disabled />
      </div>
    </div>

    <div class="card-form-group">
      <div class="label">
        <label for="Status">{{ 'TASKS_VIEW.CARD_DIALOG.STATUS' | translate }}</label>
      </div>
      <div class="field">
        <select class="no-outline" id="status-label" required [(ngModel)]="cardData.Status" name="Status">
          <option *ngFor="let status of statusData" [value]="status">{{ status }}</option>
        </select>
      </div>
    </div>

    <div class="card-form-group">
      <div class="label">
        <label for="Project">{{ 'TASKS_VIEW.CARD_DIALOG.PROJECT' | translate }}</label>
      </div>
      <div class="field">
        <select class="no-outline" id="project-label" required [(ngModel)]="cardData.Project" name="Project">
          <option *ngFor="let project of projectData" [value]="project">{{ project }}</option>
        </select>
      </div>
    </div>

    <div class="card-form-group">
      <div class="label">
        <label for="Type">{{ 'TASKS_VIEW.CARD_DIALOG.CARD_TYPE' | translate }}</label>
      </div>
      <div class="field">
        <select class="no-outline" id="type-label" required [(ngModel)]="cardData.Type" name="Type">
          <option *ngFor="let type of typeData" [value]="type">{{ type }}</option>
        </select>
      </div>
    </div>

    <div class="card-form-group">
      <div class="label">
        <label for="Title">{{ 'TASKS_VIEW.CARD_DIALOG.TITLE' | translate }}</label>
      </div>
      <div class="field">
        <input class="no-outline" type="text" id="title-label" required [(ngModel)]="cardData.Title" name="Title" />
      </div>
    </div>

    <div class="card-form-group">
      <div class="label">
        <label for="StoryPoints">{{ 'TASKS_VIEW.CARD_DIALOG.STORY_POINTS' | translate }}</label>
      </div>
      <div class="field">
        <input class="no-outline" type="number" min="1" id="estimation-label" required [(ngModel)]="cardData.StoryPoints" name="StoryPoints" />
      </div>
    </div>

    <div class="card-form-group">
      <div class="label">
        <label for="Assignee">{{ 'TASKS_VIEW.CARD_DIALOG.ASSIGNEE' | translate }}</label>
      </div>
      <div class="field">
        <select class="no-outline" id="assignee-label" required [(ngModel)]="cardData.Assignee" name="Assignee">
          <option *ngFor="let assignee of assigneeData" [value]="assignee">{{ assignee }}</option>
        </select>
      </div>
    </div>

    <div class="card-form-group">
      <div class="label">
        <label for="Priority">{{ 'TASKS_VIEW.CARD_DIALOG.PRIORITY' | translate }}</label>
      </div>
      <div class="field">
        <select class="no-outline" id="priority-label" required [(ngModel)]="cardData.Priority" name="Priority">
          <option *ngFor="let priority of priorityData" [value]="priority">{{ priority }}</option>
        </select>
      </div>
    </div>

    <div class="card-form-group">
      <div class="label">
        <label for="Tags">{{ 'TASKS_VIEW.CARD_DIALOG.TAGS' | translate }}</label>
      </div>
      <div class="field">
        <textarea class="no-outline" type="text" id="tags-label" required [(ngModel)]="cardData.Tags" name="Tags"></textarea>
      </div>
    </div>

    <div class="card-form-group">
      <div class="label">
        <label for="Summary">{{ 'TASKS_VIEW.CARD_DIALOG.SUMMARY' | translate }}</label>
      </div>
      <div class="field">
        <textarea class="no-outline" type="text" id="summary-label" required [(ngModel)]="cardData.Summary" name="Summary"></textarea>
      </div>
    </div>
  </form>
</div>
 -->
