:host {
  display: block;

  .add-progress-column-container {
    padding: 0px 0px 24px 0px !important;

    .create-toolbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(30, 144, 255);
      color: white;
      margin-bottom: 10%;

      .button-close {
        min-width: 0;
        padding: 0;
        line-height: 0;

        :ng-deep .mat-ripple {
          display: none;
        }
      }
    }

    .create-form-container {
      .form-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .field-line {
          width: 100%;
          padding: 0 17%;
          display: inline-grid;

          mat-label {
            margin-bottom: 3%;
            font-size: 15px;
          }

          .field-line-content {
            margin-bottom: 5%;
            border: 0.5px solid rgb(172, 172, 172);
            padding: 0 0.5rem;
            font-size: 1rem;
            border-radius: 0.25rem;
            input {
              font-size: 14px;
            }

            ::ng-deep .mat-form-field-wrapper {
              padding-bottom: 0px !important;
              padding-top: 0px !important;
            }

            ::ng-deep .mat-form-field-infix {
              border-top: none !important;
            }
          }
        }
      }

      .form-footer {
        display: flex;
        justify-content: flex-end;
        margin: 5% 16%;

        .add-button {
          margin-right: 0.75rem;
        }
      }
    }
  }
}
