// FIXME: variable to be moved to `ihrm-measurements.scss`
$attention: red;
$disabled: gray;

:host {
  display: block;
  padding: 0 1rem;

  .add-event-container {
    display: flex;

    .button-container {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }

    .add-event {
      width: 100%;
      display: flex;
      font-size: 1rem;
      border-radius: 5px;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column !important;

        .section-container {
          display: flex;
          flex: 1 1 auto;
          flex-wrap: wrap;

          input {
            color: black;
          }

          .start-date-field,
          .end-date-field {
            display: flex;
            flex: 1;
            margin: 0.25rem 0.5rem 0 0.5rem;
          }

          .all-day-check-box {
            flex: 2;
            display: flex;
            align-self: center;
            margin: 0rem 1rem 1.5rem;

            mat-label {
              margin-right: 0.5rem !important;
            }
          }
        }

        mat-form-field {
          margin: 0.25rem 0.5rem 0 0.5rem;
          flex: 1;

          ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
            margin: 0.25em 0 0 0 !important;
          }

          ::ng-deep .mat-form-field-subscript-wrapper {
            padding: 0 0.5rem !important;
            margin: 0.5rem 0 !important;
          }

          ::ng-deep .mat-form-field-ripple {
            background: blue;
          }

          &.ng-invalid.ng-touched {
            ::ng-deep .mat-form-field-ripple {
              background: $attention;
            }
          }

          mat-hint {
            &:not(.mat-right) {
              color: $attention;
            }

            &.counter {
              display: none;

              &.error {
                color: $attention;
              }
            }
          }

          &.mat-focused {
            .counter {
              flex: 0 0 auto;
              display: inline-block;
            }
          }

          ::ng-deep .mat-placeholder-required {
            color: $attention !important;
          }

          ::ng-deep .mat-select-required {
            ::ng-deep .mat-select-placeholder {
              &:after {
                content: ' *';
                color: $attention;
              }
            }
          }
        }

        .description-container {
          flex: 4;
          display: flex;
          flex-direction: column;
          padding-top: 1rem;

          .description-label {
            color: black;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            padding: 0 0 0.25rem 0.5rem;
          }

          .description-editor {
            padding: 0.5rem 0.5rem 0;
            border-radius: 5% !important;
          }
        }

        ::ng-deep .mat-select-required[aria-invalid='true'] {
          .mat-select-placeholder {
            color: red !important;
          }
        }
      }

      .buttons-container {
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-end;
        padding: 1rem 0 0.5rem 1rem;
        width: 100%;

        .mat-raised-button {
          margin: 0.5rem;
        }
      }
    }
  }
}
