//NOTE: this component will had it's design
// NOTE: Quick fix for this two elements, the task-management.scss should be divided
:host {
  display: block;

  .card-template {
    .e-card-avatar {
      width: 30px;
      height: 30px;
      text-align: center;
      background-color: gainsboro;
      color: #6b6b6b;
      border-radius: 50%;
      position: absolute;
      right: 12px;
      bottom: 10px;
      font-size: 12px;
      font-weight: 400;
      padding: 0px 0px 1px;
    }
    .e-card-estimation {
      width: 30px;
      height: 30px;
      text-align: center;
      background-color: gainsboro;
      color: #6b6b6b;
      border-radius: 50%;
      position: absolute;
      right: 50px;
      bottom: 10px;
      font-size: 12px;
      font-weight: 400;
      padding: 0px 0px 1px;
    }
    .kanban-overview.e-kanban {
      .card-template .e-card-custom-footer .e-card-tags .e-card-tag-field.e-card-tag.e-card-label.e-tooltip-text {
        border-radius: 12px;
        display: inline-block;
        font-size: 12px;
        line-height: 20px;
        margin-right: 8px;
        max-width: 100%;
        overflow: hidden;
        padding: 2px 8px;
        text-overflow: ellipsis;
        background-color: #d9d6f3 !important;
        color: rgb(11, 126, 241);
      }

      .kanban-overview.e-kanban.e-rtl .e-card-avatar {
        left: 12px;
        right: auto;
      }

      .e-card .e-card-tag-field {
        background: #ececec;
        color: #6b6b6b;
        margin-right: 5px;
        line-height: 1.1;
        font-size: 13px;
        border-radius: 3px;
        padding: 4px;
      }

      .e-card-custom-footer {
        display: flex;
        padding: 0px 12px 12px;
        line-height: 1;
        height: 35px;
      }
    }
  }
}
