<!-- <div class="card-template">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title e-tooltip-text">{{ cardData?.Title }}</div>
    </div>
  </div>
  <div class="e-card-content e-tooltip-text">
    <div class="e-text">- {{ cardData?.Project }}</div>
    <div class="e-text">- {{ cardData?.Summary }}</div>
  </div>
  <div class="e-card-custom-footer">
    <div class="e-card-tags">
      <div class="e-card-tag-field e-card-tag e-card-label e-tooltip-text" *ngFor="let tag of cardData?.Tags?.split(',')">{{ tag }}</div>
    </div>
    <div class="e-card-avatar">{{ getString(cardData?.Assignee) }}</div>
    <div class="e-card-estimation">{{ cardData?.StoryPoints }}</div>
  </div>
</div>
 -->
