<div class="event-container">
  <div class="cards" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20px">
    <div class="left-card">
      <app-all-events class="all-events-card" [eventList]="allEvents$ | async" [selectedEventId]="eventFromUrl"></app-all-events>
    </div>
    <div class="right-card">
      <app-edit-event
        class="edit-event-card"
        [editEventDetails]="eventDetails$ | async"
        [calendarsList]="calendarsList$ | async"
        (updateEvent)="updateEvent($event)"
        (onDeleteEvent)="deleteEvent($event)"
      ></app-edit-event>
    </div>
  </div>
</div>
